
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <hr>
            <th>apellidos</th>
            <hr>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i;">
             <hr>
             <td>{{user.nombre}}</td>
             <hr>
             <td>{{user.apellidos}}</td>
             <hr>
             <td>{{user.edad}}</td>    
         </tr>
     </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Cantidad</th>
            <hr>
            <th>Fecha</th>
            <hr>
            <th>Tipo de gastos</th>
            <hr>
            <th>descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gasto of gastos; index as i;">
              <hr>
              <td>{{gasto.cantidad}}</td>
              <hr>
              <td>{{gasto.fecha}}</td>
              <hr>
              <td>{{gasto.tiposGastos}}</td>
              <hr>
              <td>{{gasto.descripcion}}</td>  
          </tr>
      </tbody>
</table>


