
<table class="table">
    <thead>
        <tr>
            <th>Cantidad</th>
            <hr>
            <th>Fecha</th>
            <hr>
            <th>Tipo de gastos</th>
            <hr>
            <th>descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of expenses; index as i;">
            <th>{{expense.cantidad}}</th>
            <hr>
            <th>{{expense.fecha}}</th>
            <hr>
            <th>{{expense.tiposGastos}}</th>
            <hr>
            <th>{{expense.descripcion}}</th>
        </tr> 
    </tbody>
</table>

